@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: #fff;
  color: #000;
}

#__next {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

